---
import Section from "./Section.astro";
---

<Section title="Accesorios" subtitle="" color="black">
    <div slot="footer">						
        <a class=" bg-white text-sm rounded font-medium px-12 py-2 text-black hover:text-white hover:bg-black transition-colors inline-flex justify-center items-center" href="#">
            Comprar ahora
        </a>
    </div>		
    <img slot="background" src="/accesorios.avif" alt="Model Y" class="h-full w-full object-cover object-center"/>
</Section>